*{box-sizing: border-box;}
body
{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/top.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.container2
{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width: 80%;
}
.box
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    color: #fff;

}
header
{
    height: 20%;
    max-width: 80%;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.header_logo
{
    width: 10%;
}
.header_product
{
    width: 10%;
    position: relative;
    text-align: center;
}
.header_pricing
{
    width: 10%;
    position: relative;
    text-align: center;
}
.header_pricing a
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.header_learn
{
    width: 10%;
    position: relative;
    text-align: center;
}
.header_login
{
    width: 20%;
    position: relative;
    text-align: center;
    margin-right: -30%; 
}
.header_login a
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.login_img
{
    float: left;
    margin: 0 auto;
    margin-top: 3%;
    max-width: 10%;
    height: auto;
}
.header_login-text
{
    float: left;
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 2%;
}
.header_button
{
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
}
.header_dropdown
{
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header_dropdown a
{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header_dropdown a:hover
{
    color: red;
    border-radius: 6px;
}
.header_product:hover .header_dropdown
{
    display: block;
}
.header_learn:hover .header_dropdown
{
    display: block;
}
.header_start
{
    font-weight: bold;
    margin-right: 20%;
    background-color: red;
    border-radius: 6px;
    border: none;
    padding: 10px;
    float: right;
    font-size: 15px;
}
article
{
    height: 60%;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.article_text
{
    height: auto;
    width: 50%;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}
h1.article_title
{
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}
.article_button
{
    margin-top: 5%;
    background-color: #1AC3DA;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 6px; 
}
.article_button a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
footer
{
    height: 20%;
    position: relative;
    display: inline-flex;
}
.footer_logo
{
    margin-top: 10%;
    min-width: 125%;
    height: auto;
}
.benefits
{
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.benefit-1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit-2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit-2_text
{
    order: 2;
}
.benefit-3
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit_button
{
    background-color: red;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 6px;
    margin-top: 5%;
}
.benefit_button a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.benefits_title
{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}
.quote
{
    margin-top: 10%;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 5%;
    font-size: 25px;
    margin-bottom: 10%;
    background-image: url("img/quote.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.quote_text
{
    width: 50%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-left: 10%;
}
.quote_img 
{
    max-width: 13%;
    height: auto;
    position: relative;
    float: right;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    margin-right: 20%;
    border-radius: 50%;
}
.quote_img-2
{
    margin-left: 10%;
    max-width: 10%;
    height: auto;
}
.quote_img-3
{
    max-width: 3%;
    height: auto;
    margin-left: 50%;
}
h1.learn_title
{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.learn
{
    margin: 0 auto;
    height: auto;
    position: relative;
    display: inline-block;
    width: 100%;
}
.learn_box
{
    width: 20%;
    height: 45%;
    margin: 0 auto;
    background-color: white;
    display: inline-block;
    padding: 1%;
    margin: 2%;
} 
.learn_box:hover
{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    background-color: #FFF;
    border-radius: 20px;
}
h3.learn_subtitle
{
    font-size: 32px;
    font-weight: bold;
    color: #000;
}
.hosting
{
    width: 100%;
    height: 80%;
    background-image: url("img/bgg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 5%;
}
h1.hosting_title
{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.hosting_button a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.hosting_button
{
    background-color: red;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    margin-right: 10%;
    align-self: center;
    margin-left: 10%;
}
.container3
{
    width: 100%;
    height: 75%;
    background-color: #1F2742;
    margin: 0 auto;
    color: WHITE;
}
.newsletter
{
    width: 80%;
    height: 15%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
}
h1.newsletter_title
{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.newsletter_input
{
    color: white;
    border: none;
    height: 4vh;
    width: 13vw;
    border-radius: 6px;
    
}
.newsletter_button
{
    background-color: red;
    color: white;
    border: none;
    height: 4vh;
    width: 6vw;
    border-radius: 6px;
}
.navbar
{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
}
h4.navbar_title
{
    font-size: 20px;
}
.navbar_box
{
    width: 18%;
    height: 10%;
}
.navbar_box a
{
    color: #FFF;
    text-decoration: none;
}
.navbar_box2
{
    width: 20%;
    height: 30%;
}
.navbar_box2 a
{
    color: #FFF;
    text-decoration: none;
}
.navbar_box3
{
    width: 20%;
    height: 30%;
    margin-top: 5%;
}
.navbar_box3 a
{
    color: #FFF;
    text-decoration: none;
}
.navbar_box4
{
    width: 18%;
    height: 10%;
}
.navbar_box4 a
{
    color: #FFF;
    text-decoration: none;
}
.container3_heart
{
    color: red;
}
.container3_line
{
    width:80%;
}
.container3_footer
{
    height: 10%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.footer_logo2
{
    width: 10%;
    height: 3%;
    align-items: center;
    margin-top: 1%;
}
.footer_social
{
    display: flex;
    width: 15%;
    height: 3%;
}
.helpcenter_container
{
    margin-left: auto;
    margin-right: auto;
    color: #000;
}
.helpcenter_box
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #000;
}
.helpcenter_header
{
    height: 5%;
    min-width: 80%;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    padding-top: 3%;
    display: flex;
    justify-content: flex-end;
    
}
.header_logo-black
{
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 3%;
}
.helpcenter_product
{
    width: 10%;
    text-align: center;
    margin-left: 5%;
}
.helpcenter_pricing
{
    width: 10%;
    text-align: center;
}
.helpcenter_pricing a
{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.helpcenter_learn
{
    width: 10%;
    text-align: center;
}
.helpcenter_login
{
    margin: 0 auto;
    width: 30%;
    display: inline-flex;
    margin-left: 35%;
}
.helpcenter_login a
{
    color: #000;
    text-decoration: none;
}
.helpcenter_login-text
{
    width: 10%;
    height: 4vh;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}
.helpcenter_button
{
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.header_dropdown
{
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header_dropdown a
{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header_dropdown a:hover
{
    color: red;
    border-radius: 6px;
}
.helpcenter_product:hover .header_dropdown
{
    display: block;
}
.helpcenter_learn:hover .header_dropdown
{
    display: block;
}
.helpcenter_start
{
    width: 40%;
    font-weight: bold;
    background-color: red;
    color: #fff;
    border-radius: 6px;
    border: none;
    height: auto;
    font-size: 15px;
}
.helpcenter_search
{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    background-image: url(img/hc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.helpcenter_search-title
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
}
.helpcenter_search-form
{
    margin: 0 auto;
    text-align: center;
}
.helpcenter_search-input
{
    width: 20%;
    height: 5vh;
    border: 1 px solid;
    border-radius: 6px;
}
.helpcenter_search-button
{
    width: 7.5%;
    height: 5vh;
    background-color: #1AC3DA;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}
.helpcenter_path
{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.helpcenter_result
{
    height: 61%;
    width: 80%;
    margin: 0 auto; 
    margin-top: 2%;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.helpcenter_result-article
{
    height: 100%;
    width: 80%;
    margin: 0 auto; 
    margin-top: 2%;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.article_header
{
    height: 3%;
    width: 80%;
    display: inline-block;
    position: relative;
}
.helpcenter_result-img
{
    float: right;
    margin-right: -25%;
    margin-top: 2%;
}
.helpcenter_result-title
{
    float: left;
}
h1.helpcenter_opinion-title
{
    text-align: center;
}
.helpcenter_result-buttons
{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    margin-left: 43%;
}
.button_line
{
    margin-top: 3%;
    width: 80%;
}
.helpcenter_nextprev
{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.helpcenter_next-img
{
    float: right;
}
.helpcenter_result-title
{
    font-size: 40px;
}
.helpcenter_result-subtitle
{
    font-size: 30px;
}
.helpcenter_opinion-title
{
    font-size: 40px;
}
.nextprev_text
{
    visibility: hidden;
    display: none;
}
.nextprev_text2
{
    visibility: hidden;
    display: none;
}
span.faq_title
{
    display: inline-flex;
    color: white;
    background-color: #FB4247;
    border-radius: 5px;
    padding: 2px;
}
.faq_help
{
    text-align: center;
}
.faq_help-title
{
    font-size: 40px;
}
.faq_help-text
{
    margin-top: -1%;
    margin-bottom: 5%;
}
.header_menu
    {
        visibility: hidden;
        display: none;
    }
@media screen and (max-width: 1024px) {
    .container
    {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        height: 1400px;
        flex-direction: column;
        align-items: center;
        background-image: (url(img/bgh.png));
    }
    .box
    {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header
    {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: -10%;    
    }
    article 
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .article_ilu
    {
        width: 100%;
        order: 1;
        margin-left: auto;
        margin-right: auto;
    }
    .article_text
    {
        width: 100%;
        order: 2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    h1.article_title
    {
        font-size: 25px;
    }
    .ilu_img
    {
        width: 110%;
    }
    footer
    {
        width: 200%;
        height: auto;
        display: flex;
        margin-top: 30%;
        margin-left: 100%;
    }
    .footer_logo
    {
        width: 200%;
    }
    .container2
    {
        width: 90%;
        margin-top: -100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .benefit-1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }
    .benefit_img
    {
        width: 100%;
    }
    .benefit-1_text
    {
        order: 2;
        text-align: center;
    }
    .benefit-2
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }
    .benefit_img
    {
        width: 100%;
    }
    .benefit-2_text
    {
        order: 2;
        text-align: center;
    }
    .benefit-3
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }
    .benefit_img
    {
        width: 100%;
    }
    .benefit-3_text
    {
        order: 2;
        text-align: center;
    }
    .quote
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(img/testimonials.png);
        margin-bottom: 100%;
    }
    .quote_img
    {
        width: 350%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .quote_text
    {
        width: 90%;
        text-align: center;
        order: 2;
        font-size: 18px;
    }
    .quote_img-2
    {
        width: 150%;
        order: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .quote_img-3
    { 
        display: none;
    }
    .learn
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h1.learn_title
    {
        font-size: 30px;
    }
    .learn_box
    {
        width: 100%;
        margin-bottom: 10%;
        padding: 5%;
    }
    .helpcenter_container
    {
        background-color: linear-gradient(#DBD6D8, #FFF);
    }
    .helpcenter_header
    {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: -10%;
    }
    
    .header_product
    {
        visibility: hidden;
        display: visible;
    }
    .header_pricing
    {
        visibility: hidden;
        display: none;
    }
    .header_learn
    {
        visibility: hidden;
        display: none;
    }
    .header_login
    {
        visibility: hidden;
        display: none;
    }
    .helpcenter_product
    {
        visibility: hidden;
        display: none;
    }
    .helpcenter_pricing
    {
        visibility: hidden;
        display: none;
    }
    .helpcenter_learn
    {
        visibility: hidden;
        display: none;
    }
    .helpcenter_login
    {
        visibility: hidden;
        display: none;
    }
    h1.helpcenter_search-title
    {
        font-size: 35px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .helpcenter_search-input
    {
        width: 50%;
        margin-bottom: 5%;
    }
    .helpcenter_search-button
    {
        width: 20%;
    }
    .newsletter
    {
        display: flex;
        flex-direction: column;
    }
    h1.newsletter_title
    {
        font-size: 35px;
        text-align: center;
    }
    .newsletter_form
    {
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .newsletter_input
    {
        width: 65%;
    }
    .newsletter_button
    {
        width: 30%;
    }
    .navbar
    {
        display: flex;
        flex-direction: column;
    }
    .navbar_box
    {
        width: 80%;
        order: 1;
    }
    .navbar_box2
    {
        width: 80%;
        order: 2;
    }
    .navbar_box3
    {
        width: 80%;
        margin-top: -0.1%;
        order: 3;
    }
    .navbar_box4
    {
        width: 80%;
        order: 4;
    }
    .footer_logo2
    {
        visibility: hidden;
        display: none;
    }
    .container3_footer
    {
        width: 60%;
        display: flex;
        justify-content: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_social
    {
        width: 100%;
        height: auto;
        align-items: center;
    }
    .footer_text
    {
        align-items: center;
    }
    .helpcenter_search-title
    {
        width: 90%;
    }
    .helpcenter_result
    {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .helpcenter_result-title
    {
        font-size: 24px;
    }
    .helpcenter_result-img
    {
        position: relative;
        left: -20%;
    }
    .helpcenter_result-subtitle
    {
        font-size: 24px;
    }
    .helpcenter_opinion-title
    {
        font-size: 20px;
    }
    .helpcenter_path
    {
        font-size: 13px;
    }
    .helpcenter_result-buttons
    {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .helpcenter_nextprev
    {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .helpcenter_prev-img
    {
        box-sizing: border-box;
        background: url(img/left.png) no-repeat;
        width: 64px;
        height: 64px;
        padding-left: 64px;
        display: flex;
        order: -1;
    }
    .helpcenter_next-img
    {
        box-sizing: border-box;
        background: url(img/right.png) no-repeat;
        width: 64px;
        height: 64px;
        padding-right: 64px;
        display: flex;
    }
    .nextprev_text
    {
        visibility: visible;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
    }
    .nextprev_text2
    {
        visibility: visible;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .faq_help
    {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
    }
    h1.faq_help-title
    {
        font-size: 25px;
    }
    .hosting
    {
        border-radius: 5px;
        width: 95%;
        padding: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1.hosting_title
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        margin-bottom: 10%;
    }
    .hosting_button
    {
        width: auto;
        height: auto;
    }
    .header_menu
    {
        width: 5%;
        height: auto;
        visibility: visible;
        display: flex;
        margin-top: -3.5%;
    }
    /* .mobile_menu
    {
        width: 95%;
        min-height: auto;
        display: none;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 0px 100px 0px rgba(0,0,0,0.75);
    } */
    /* .mobile_menu-header
    {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: space-between; 
        margin-top: 5%;
    }
    .header_menu-exit
    {
        width: 5%;
        height: auto;
        visibility: visible;
        display: flex;
        margin-right: 5%;
    }
    .mobile_menu-title
    {
        font-size: 25px;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .menu 
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 5%;
    }
    .menu_box
    {
        height: 5%;
        min-width: 100%;
        display: flex;
        padding: 5%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid;
        background-color: #1AC3DA;
        border-radius: 10px;
    }
    .menu_box2
    {
        height: 5%;
        min-width: 100%;
        display: flex;
        padding: 5%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid;
        background-color: #1AC3DA;
        border-radius: 10px;
    }
    .menu_box a 
    {
        text-decoration: none;
        color: black;
    }
    .menu_box2 a
    {
        text-decoration: none;
        color: black;
    }
    .login
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin: 5%;
        margin-top: 90%;
    }
    .login_buttons
    {
        width: 100%;
        border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
        padding: 5%;
        border: 1px solid gray;
    }
    .login_buttons-red
    {
        margin-top: 1%;
        width: 100%;
        border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
        padding: 5%;
        border: 1px solid gray;
        background-color: red;
        color: white;
    }
    .menu_dropdown
    {
        display: none;
    }
    .menu_box2:hover .menu_dropdown
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        height: auto;
        background-color: #1AC3DA;
        border-radius: 10px;
    } */
}