*{box-sizing: border-box;}
body
{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    background-image: url("img/top.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2
{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    color: black;
}
.box
{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    color: #fff;
}
header
{
    height: 20vh;
    width: 65vw;
    font-size: 15px;
    font-weight: bold;
    padding: 2%;
}
.header_logo
{
    float: left;
    width: 10%;
}
.header_product
{
    width: 10%;
    padding-left: 3%;
    padding-top: 0.5%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.header_pricing
{
    width: 10%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.header_pricing a
{
    color: #fff;
    text-decoration: none;
}
.header_learn
{
    width: 10%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.header_login
{
    width: 15%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 15%;
    float: right;
}
.header_login a
{
    float: left;
    color: #fff;
    text-decoration: none;
}
.header_button
{
    background-color: transparent;
    color: #fff;
    border: none;
}
.header_dropdown
{
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header_dropdown a
{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header_dropdown a:hover
{
    color: red;
    border-radius: 6px;
}
.header_product:hover .header_dropdown
{
    display: block;
}
.header_learn:hover .header_dropdown
{
    display: block;
}
.header_start
{
    background-color: red;
    border-radius: 6px;
    border: none;
    padding: 10px;
    float: right;
}
article
{
    width: 30vw;
    height: 60vh;
    padding: 2%;
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 auto;
}
h1.article_title
{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.article_button
{
    margin-top: 5vh;
    background-color: #1AC3DA;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 6px;
    
}
.article_button a
{
    color: #fff;
    text-decoration: none;
}
.article_ilu
{
    width: 33vw;
    height: 25vh;
    padding: 2%;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
}
.ilu_img
{
    width: 300%;
    height: 300%;
}
footer
{
    height: 25vh;
    width: 65vw;
    padding: 2%;
    position: relative;
    display: inline-block;
}
.benefits
{
    margin: 0 auto;
    width: 75vw;
    height: 60vh;
    padding: 2%;
    position: relative;
    display: inline-block;
}
.benefit-1
{
    width: 30vw;
    float: left;
}
.benefit-2
{
    margin-top: 15%;
    width: 30vw;
    float: right;
}
.benefit-3
{
    margin-top: 15%;
    width: 30vw;
    float: left;
}
.benefit_button
{
    background-color: red;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 6px;
    margin: 3%;
}
.benefit_button a
{
    color: #fff;
    text-decoration: none;
}
.benefits_title
{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}
.benefit-1_img
{
    width: 30vw;
    height: 25vh;
    padding: 2%;
    float: right;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.benefit-2_img
{
    width: 30vw;
    height: 25vh;
    padding: 2%;
    float: left;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.benefit_img
{
    width: 130%;
    height: 250%;
}
.quote
{
    margin-top: 60%;
    width: 75vw;
    height: 50vh;
    position: relative;
    padding-top: 5%;
    font-size: 20px;
    
}
.quote_text
{
    width: 50vw;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.quote_img 
{
    width: 13vw;
    position: relative;
    float: right;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    margin-right: 10vw;
    border-radius: 50%;
}
.quote_img-3
{
    margin-left: 37.5vw;
}
h1.learn_title
{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-right: 5%;
}
.learn
{
    width: 75vw;
    height: 20vh;
    margin: 5%;
    position: relative;
    display: inline-block;
}
.learn_box
{
    width: 15vw;
    height: 40vh;
    background-color: white;
    display: inline-block;
    margin: 2%;
} 
.learn_box:hover
{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    background-color: #E1D9D1;
    border-radius: 20px;
}
.hosting
{
    width: 75vw;
    height: 30vh;
    background-image: url("img/bgg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}
h1.hosting_title
{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.hosting_button a
{
    color: #fff;
    text-decoration: none;
}
.hosting_button
{
    background-color: red;
    color: white;
    border: none;
    width: 10vw;
    height: 5vh;
    padding-top: 3px;
    border-radius: 6px;
    margin-right: 10vw;
    align-self: center;
    margin-left: 10vw;
}
.container3
{
    width: 100%;
    height: 75vh;
    background-color: #1F2742;
    margin: 0 auto;
    color: WHITE;
}
.newsletter
{
    width: 75vw;
    height: 15vh;
    position: relative;
    display: inline-block;
    margin-left: 8vw;
}
h1.newsletter_title
{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    float: left;
    margin-left: 5%;
}
.newsletter_form
{
    float: right;
    margin-top: 3%;
}
.newsletter_input
{
    color: white;
    border: none;
    height: 4vh;
    width: 15vw;
    border-radius: 6px;
    margin-top: 2%;
}
.newsletter_button
{
    background-color: red;
    color: white;
    border: none;
    height: 4vh;
    width: 10vw;
    border-radius: 6px;
}
.navbar
{
    width: 75vw;
    height: 30vh;
    position: relative;
    display: flex;
    position: absolute;
    margin: 5%;
    margin-left: 10%;
}
.navbar_box2
{
    width: 15vw;
    height: 3vh;
    display: inline-block;
    margin: 2%;
}
.navbar_box2 a
{
    color: #FFF;
    text-decoration: none;
}
.navbar_box
{
    width: 10vw;
    height: 10vh;
    display: inline-block;
    margin: 2%;
    border-radius: 20px;
}
.navbar_box a
{
    color: #FFF;
    text-decoration: none;
}
.container3_heart
{
    color: red;
}
.container3_footer
{
    height: 10vh;
    width: 75vw;
    display: inline;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.footer_logo2
{
    width: 6vw;
    height: 3vh;
    display: inline-block;
    margin: 2%;
    float: left;
}
.footer_text
{
    text-align: center;
    display: inline-block;
    margin: 2%;
}
.footer_social
{
    width: 10vw;
    height: 4vh;
    display: flex;
}
/* @media screen and (max-width: 1024px) {
    .container
    {
        width: 100vw;
    }
    .container2
    {
        width: 100vw;
    }
    
} */